@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply py-3 px-7 rounded-full shadow-md text-white;
}

#top-page {
  position: fixed;
  bottom: 70px;
  right: 30px;
}

footer {
  background: black;
  padding: 1em;
  margin-top: 1em;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: end center;
}

footer p {
  margin: 0;
  padding-left: 20px;
  color: white;
  font-size: .9em;
}